[Unit]
Description=Python Program
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/usr/local/bin/main.py
ExecStart=/usr/bin/python3 /usr/local/bin/main.py

[Install]
WantedBy=multi-user.target
